
/* Variabels */

$dark0: #2e3440;
$dark1: #3b4252;
$dark2: #434c5e;
$dark3: #4c566a;

$light0: #d8dee9;
$light1: #e5e9f0;
$light2: #eceff4;

$attention0: #8fbcbb;
$attention1: #81a1ca;

$warning: #ebcb8b;
$error: #bf616a;
$success: #a3be8c;
$spotify: #1DB954;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url("https://images.pexels.com/photos/1916824/pexels-photo-1916824.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    color: $light1;
}

.container {
    display: block;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

@media (max-width: 560px) {
    .container {
        width: 100%;
    }

    #about {
        width: 100%;
    }
}

.home {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $dark0;
    box-shadow: 0px 0px 45px 21px rgba(59,66,82,0.55);
    border: 1px solid rgba(0,0,0,0.50);
    padding: 20px;
    border-radius: 25px;

    .links {
        display: block;
        margin: auto 0;
    }
    .title {
        text-align: center;
        margin-bottom: 20px;
        font-size: 30px;

        p {
            color: $attention0;
            font-weight: bold;

            span {
                font-weight: normal;
                color: $light2;
            }
        }
    }

    .login {
        margin-bottom: 20px;
        button {
            background-color: $spotify;
            border: none;
            border-radius: 10px;
            font-size: 15px;
            font-weight: bold;
            color: $light2;
            padding: 10px;
            width: 220px;

            &:hover {
                cursor: pointer;
                box-shadow: 0px 0px 27px -5px rgba(59,66,82,0.90);
            }
        }

    }

    .about {
        text-align: center;
        a {
            text-decoration: none;
            color: $attention1;

            &:hover {
                text-decoration: underline;
                color: $light0;
            }
        }
    }
}

#auth {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $dark0;
    box-shadow: 0px 0px 45px 21px rgba(59,66,82,0.55);
    border: 1px solid rgba(0,0,0,0.75);
    padding: 20px;
    border-radius: 25px;

    .result {
        padding: 20px 10px;
        font-size: 20px;
        text-align: center;


        .hidden {
            display: none;
        }

        #success {
            color: $success;

            p:first-child {
                margin-bottom: 20px;
                font-size: 24px;
                font-weight: bold;

            }

            .message {
                color: $attention1;
                font-size: 22px;
            }

            #name {
                color: $attention0;
            }
        }

        #failed {
            p {
                color: $error;
                margin-bottom: 20px;
                font-size: 24px;
                font-weight: bold;
            }

            a {
                font-size: 18px;
                text-decoration: underline;
                color: $attention1;
            }

        }
    }
}

#profile {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $dark0;
    box-shadow: 0px 0px 45px 21px rgba(59,66,82,0.55);
    border: 1px solid rgba(0,0,0,0.50);
    padding: 20px;
    border-radius: 25px;
}

#about {

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $dark0;
    box-shadow: 0px 0px 45px 21px rgba(59,66,82,0.55);
    border: 1px solid rgba(0,0,0,0.75);
    padding: 40px;
    border-radius: 25px;
    max-width: 286px;

    .headline {
        text-align: center;

        img {
            display: block;
            margin: 0 auto;
            height: 200px;
            border-radius: 50%;
            margin-bottom: 20px;
            border: 1px solid rgba(0,0,0,0.75);
            box-shadow: 0px 0px 45px 21px rgba(59,66,82,0.55);
        }

        p {
            font-size: 20px;
            font-weight: bold;
            color: $light0;
        }
    }


    .title {
        color: $attention1;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        margin: 5px 0;
    }

    ul {
        list-style: none;
        li {
            display: flex;

            p {
                color: $light0;
                font-weight: bold;
                font-size: 17px;
                span {
                    color: $attention0;
                    font-weight: normal;
                    font-size: 16px;
                }
            }

        }
    }

    .interests {
        text-align: center;
        .list {
            p {
                display: inline-block;
                background: $attention0;
                padding: 5px;
                border-radius: 25px;
                margin: 5px;
                font-size: 14px;
                font-weight: bold;
                color: $dark0;
            }
        }
    }

    button {
        display: block;
        margin: 10px auto 0 auto;
        background-color: transparent;
        color: $light0;
        border: none;
        text-decoration: underline;

        &:hover {
            cursor: pointer;
            color: $attention0;
        }

    }
}
